@import '../../vars.css';

.header {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 50px 0;
}

.name__paragraph {
    color: var(--color-primary);
    font-size: 1.2rem;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.name__main {
    color: var(--color-white-primary);
    font-size: 4rem;
    margin-top: 6px;
    margin-bottom: 0;
}

.name__secondary {
    color: var(--color-white-secondary);
    font-size: 4rem;
    margin-top: 4px;
}

.details {
    width: 55%;
    color: var(--color-white-secondary);
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.button {
    cursor: pointer;
    border: 1px solid var(--color-primary);
    margin-top: 60px;
    padding: 15px;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    transition: all .4s;
}

.button:hover {
    background-color: var(--color-secondary);
}

.button:active {
    transform: translateY(2px);
}

.button a {
    text-decoration: none;
    color: var(--color-primary);
}