@import '../../vars.css';
.experience {
    width: 55%;
    margin: 0 auto;
    text-align: left;
    padding: 150px 0;
}

.title {
    color: var(--color-text-primary);
    font-size: 2rem;
}

.title::before {
    content: "02.";
    font-size: 1.4rem;
    color: var(--color-primary);
    margin-right: 15px;
}

.title::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 20%;
    height: 1px;
    background-color: var(--color-text-tertiary);
    top: -8px;
    margin-left: 20px;
}

.container {
    width: 90%;
    color: var(--color-text-secondary);
    display: flex;
}

.tab__link {
    cursor: pointer;
    border-left: 2px solid var(--color-text-tertiary);
    padding: 10px 20px;
    transition: box-shadow .8s;
    width: 150px;
}

.active {
    border-left: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 700;
}

.tab__link:hover {
    box-shadow: inset 150px 0 0 0 var(--color-secondary);
}

.tab__content {
    display: none;
}

.job__title {
    color: var(--color-text-primary);
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
}

.job__date {
    color: var(--color-text-primary);
    font-weight: 500;
}

.show__content {
    display: block;
}

.items {
    margin-top: 12px;
    list-style: none;
    color: var(--color-text-secondary);
    padding-left: 0;
    position: relative;
}

.item {
    width: 90%;
    padding: 6px 0 20px;
    padding-left: 30px;
    font-size: .9rem;
}

.item::before {
    content: '▹';
    position: absolute;
    left: 0;
    margin-right: 10px;
    font-size: 1rem;
    display: inline-block;
    color: var(--color-primary);
}

@media only screen and (max-width: 992px) {
    .experience {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .experience {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .experience {
        width: 90%;
    }
    .title {
        font-size: 1.6rem;
    }
    .title::before {
        font-size: 1.2rem;
    }
    .title::after {
        display: none;
    }
    .container {
        width: 100%;
        flex-direction: column;
    }
    .tab {
        display: flex;
        margin-top: 30px;
    }
    .tab__link {
        border-top: 2px solid var(--color-text-tertiary);
        border-left: none;
        transition: none;
        width: 100px;
    }
    .active {
        border-top: 2px solid var(--color-primary);
    }
}