:root {
  --color-background: #0B1A2E;
  --color-white-primary: #CCD7F5;
  --color-white-secondary: #8893AF;
  --color-white-tertiary: #45474d;
  --color-primary: #61F7D4;
  --color-secondary: #24594d;
}

.light {
  --color-background: #e0e7f0;
  --color-primary: #419d78;
  --color-secondary: #8af4c9;
  --color-text-primary: #1d1d1d;
  --color-text-secondary: #474747;
  --color-text-tertiary: #b9b9b9;
  --color-red-primary: rgb(214, 168, 168);
  --color-text-4: #2f2f2f;
  --color-background-2: rgb(245, 255, 255);
}

.dark {
  --color-background: #0B1A2E;
  --color-text-primary: #CCD7F5;
  --color-text-secondary: #8893AF;
  --color-text-tertiary: #aaaaaa;
  --color-primary: #61F7D4;
  --color-secondary: #24594d;
  --color-red-primary: rgb(98, 51, 51);
  --color-text-4: rgb(187, 187, 187);
  --color-background-2: #172B45;
}