@import '../../vars.css';
.work {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 150px 0;
}

.title {
    color: var(--color-text-primary);
    font-size: 2rem;
}

.title::before {
    content: "03.";
    font-size: 1.4rem;
    color: var(--color-primary);
    margin-right: 15px;
}

.title::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 20%;
    height: 1px;
    background-color: var(--color-text-tertiary);
    top: -8px;
    margin-left: 20px;
}

.project img {
    width: 100%;
    min-width: 80%;
    flex-grow: 2;
    filter: grayscale(60);
    transition: all .8s;
    height: 100%;
}

.project img:hover {
    transform: scale(1.03);
    filter: initial;
}

.project img:active {
    transform: scale(1);
    filter: initial;
}

.project {
    display: flex;
    margin-bottom: 160px;
}

.details__container {
    text-align: right;
    flex-grow: 1;
    max-width: 40%;
    height: 100%;
}

.details__container__alt {
    text-align: left;
}

.details__container h4 {
    color: var(--color-primary);
    font-weight: 300;
    margin-bottom: 0px;
}

.details__container h3 {
    margin-top: 10px;
}

.details__title {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.4rem;
}

.details {
    color: var(--color-text-4);
    text-align: center;
    max-height: 10%;
    width: 120%;
    position: relative;
    right: 90px;
    z-index: 10;
    padding: 20px;
    background-color: var(--color-background-2);
}

.details__container__alt .details {
    left: -10px;
}

.items {
    color: var(--color-text-primary);
    display: flex;
    padding: 0;
    list-style: none;
    margin-right: auto;
    justify-content: flex-end;
}

.details__container__alt .items {
    right: 0;
    justify-content: flex-start;
}

.item {
    margin-left: 20px;
}

.details__container__alt .item {
    margin-left: 0;
    margin-right: 20px;
}

.button {
    display: table;
    text-align: center;
    margin: -60px auto 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--color-primary);
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    transition: all .4s;
}

.button:hover {
    background-color: var(--color-secondary);
}

.button:active {
    transform: translateY(2px);
}

.links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.details__container__alt .links {
    justify-content: flex-start;
    padding-left: 0;
}

.link {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.details__container__alt .link {
    margin-left: 0;
    margin-right: 15px;
}

svg {
    width: 25px;
    height: 25px;
}

.github svg {
    fill: var(--color-text-primary);
}

.external svg {
    stroke: var(--color-text-primary);
}

.github svg:hover {
    fill: var(--color-primary);
}

.external svg:hover {
    stroke: var(--color-primary);
}

@media only screen and (max-width: 992px) {
    .work {
        width: 80%;
    }
    .items {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .work {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .work {
        width: 90%;
    }
    .title {
        font-size: 1.6rem;
    }
    .title::before {
        font-size: 1.2rem;
    }
    .title::after {
        display: none;
    }
    .project {
        position: relative;
    }
    .project img {
        position: absolute;
        filter: opacity(.15);
        transition: none;
        left: 0
    }
    .details__container {
        text-align: center;
        background-color: var(--color-root-filter);
        z-index: 10;
        min-width: 100%;
    }
    .details {
        max-width: 80%;
        right: 0;
        margin: 0 auto;
    }
    .items {
        flex-direction: row;
        padding: 30px 0;
        justify-content: center;
    }
    .details__container__alt .items {
        justify-content: center;
    }
    .details__container h4 {
        font-weight: 600;
        color: var(--color-root-primary);
    }
    .details__container__alt .details {
        left: 0;
    }    
    .details__title {
        font-weight: 800;
    }
    .item {
        font-weight: 900;
    }
    .links {
        justify-content: center;
        padding: 0;
    }
    .details__container__alt .links {
        justify-content: center;
    }
}